# UCF file for the Posedge-One board

# Main board wing pin [] to FPGA pin Pxx map
# -------W2-------    ------W1.A-----     ------W1.B------
# [GND] [A01] P111    [GND] [A01] P85     P87 [B01]
# [2V5] [A02] P112    [2V5] [A02] P83     P84 [B02]
# [3V3] [A03] P114    [3V3] [A03] P81     P82 [B03]
# [5V0] [A04] P115    [5V0] [A04] P79     P80 [B04]
#       [A05] P116          [A05] P75     P78 [B05] [5V0]
#       [A06] P117          [A06] P67     P74 [B06] [3V3]
#       [A07] P118          [A07] P59     P66 [B07] [2V5]
#       [A08] P119          [A08] P57     P58 [B08] [GND]
# [GND] [A09] P120    [GND] [A09] P55     P56 [B09]
# [2V5] [A10] P121    [2V5] [A10] P48     P51 [B10]
# [3V3] [A11] P123    [3V3] [A11] P46     P47 [B11]
# [5V0] [A12] P124    [5V0] [A12] P44     P45 [B12]
#       [A13] P126          [A13] P41     P43 [B13] [5V0]
#       [A14] P127          [A14] P35     P40 [B14] [3V3]
#       [A15] P131          [A15] P33     P34 [B15] [2V5]
#       [A16] P132          [A16] P30     P32 [B16] [GND]


# Clock and Reset pins
# 24MHz on-board clock
NET "CLOCK" LOC = P50;
# active-low USER_PB button
NET "RESET_N" LOC = P133;

# GPIO pins
//W1_A01
NET "LED[11]" LOC = P85;
//W1_A02
NET "PB[11]" LOC = P83;
//W1_A03
NET "LED[10]" LOC = P81;
//W1_A04
NET "PB[10]" LOC = P79;
//W1_A05
NET "LED[9]" LOC = P75;
//W1_A06
NET "PB[9]" LOC = P67;
//W1_A07
NET "LED[8]" LOC = P59;
//W1_A08
NET "PB[8]" LOC = P57;
//W1_A09
NET "LED[15]" LOC = P55;
//W1_A10
NET "PB[15]" LOC = P48;
//W1_A11
NET "LED[14]" LOC = P46;
//W1_A12
NET "PB[14]" LOC = P44;
//W1_A13
NET "LED[13]" LOC = P41;
//W1_A14
NET "PB[13]" LOC = P35;
//W1_A15
NET "LED[12]" LOC = P33;
//W1_A16
NET "PB[12]" LOC = P30;

//W1_B01
NET "PB[0]" LOC = P87;
//W1_B02
NET "LED[0]" LOC = P84;
//W1_B03
NET "PB[1]" LOC = P82;
//W1_B04
NET "LED[1]" LOC = P80;
//W1_B05
NET "PB[2]" LOC = P78;
//W1_B06
NET "LED[2]" LOC = P74;
//W1_B07
NET "PB[3]" LOC = P66;
//W1_B08
NET "LED[3]" LOC = P58;
//W1_B09
NET "PB[4]" LOC = P56;
//W1_B10
NET "LED[4]" LOC = P51;
//W1_B11
NET "PB[5]" LOC = P47;
//W1_B12
NET "LED[5]" LOC = P45;
//W1_B13
NET "PB[6]" LOC = P43;
//W1_B14
NET "LED[6]" LOC = P40;
//W1_B15
NET "PB[7]" LOC = P34;
//W1_B16
NET "LED[7]" LOC = P32;

//W2_A01
NET "LED[19]" LOC = P111;
//W2_A02
NET "PB[19]" LOC = P112;
//W2_A03
NET "LED[18]" LOC = P114;
//W2_A04
NET "PB[18]" LOC = P115;
//W2_A05
NET "LED[17]" LOC = P116;
//W2_A06
NET "PB[17]" LOC = P117;
//W2_A07
NET "LED[16]" LOC = P118;
//W2_A08
NET "PB[16]" LOC = P119;
//W2_A09
NET "LED[23]" LOC = P120;
//W2_A10
NET "PB[23]" LOC = P121;
//W2_A11
NET "LED[22]" LOC = P123;
//W2_A12
NET "PB[22]" LOC = P124;
//W2_A13
NET "LED[21]" LOC = P126;
//W2_A14
NET "PB[21]" LOC = P127;
//W2_A15
NET "LED[20]" LOC = P131;
//W2_A16
NET "PB[20]" LOC = P132;

# USB<->UART Pins
NET "UART_TX" LOC = P104;
NET "UART_RX" LOC = P105;

# USER LED (Available in Rev 1.3+)
NET USER_LED           LOC = p88;

# USB<->ASYNC_FIFO Pins
#NET FT_RXF_N          LOC = p95;
#NET FT_TXE_N          LOC = p94;
#NET FT_RD_N           LOC = p93;
#NET FT_WR_N           LOC = p92;
#NET FT_SIWU           LOC = p88;
#NET FT_D0             LOC = p105;
#NET FT_D1             LOC = p104;
#NET FT_D2             LOC = p102;
#NET FT_D3             LOC = p101;
#NET FT_D4             LOC = p100;
#NET FT_D5             LOC = p99;
#NET FT_D6             LOC = p98;
#NET FT_D7             LOC = p97;

#SRAM Pins             
NET "SRAM_WE_N" LOC = P22;
NET "SRAM_OE_N" LOC = P140;
NET "SRAM_CE_N" LOC = P14;

NET "SRAM_DATA[0]" LOC = P15;
NET "SRAM_DATA[1]" LOC = P16;
NET "SRAM_DATA[2]" LOC = P17;
NET "SRAM_DATA[3]" LOC = P21;
NET "SRAM_DATA[4]" LOC = P144;
NET "SRAM_DATA[5]" LOC = P143;
NET "SRAM_DATA[6]" LOC = P142;
NET "SRAM_DATA[7]" LOC = P141;

NET "SRAM_ADDR[0]" LOC = P8;
NET "SRAM_ADDR[1]" LOC = P9;
NET "SRAM_ADDR[2]" LOC = P10;
NET "SRAM_ADDR[3]" LOC = P11;
NET "SRAM_ADDR[4]" LOC = P12;
NET "SRAM_ADDR[5]" LOC = P23;
NET "SRAM_ADDR[6]" LOC = P24;
NET "SRAM_ADDR[7]" LOC = P26;
NET "SRAM_ADDR[8]" LOC = P27;
NET "SRAM_ADDR[9]" LOC = P29;
NET "SRAM_ADDR[10]" LOC = P7;
NET "SRAM_ADDR[11]" LOC = P6;
NET "SRAM_ADDR[12]" LOC = P5;
NET "SRAM_ADDR[13]" LOC = P2;
NET "SRAM_ADDR[14]" LOC = P1;
NET "SRAM_ADDR[15]" LOC = P139;
NET "SRAM_ADDR[16]" LOC = P138;
NET "SRAM_ADDR[17]" LOC = P137;
NET "SRAM_ADDR[18]" LOC = P134;




#NET "PB[23]" IOSTANDARD = LVCMOS33;
#NET "PB[22]" IOSTANDARD = LVCMOS33;
#NET "PB[21]" IOSTANDARD = LVCMOS33;
#NET "PB[20]" IOSTANDARD = LVCMOS33;
#NET "PB[19]" IOSTANDARD = LVCMOS33;
#NET "PB[18]" IOSTANDARD = LVCMOS33;
#NET "PB[17]" IOSTANDARD = LVCMOS33;
#NET "PB[16]" IOSTANDARD = LVCMOS33;
#NET "PB[15]" IOSTANDARD = LVCMOS33;
#NET "PB[14]" IOSTANDARD = LVCMOS33;
#NET "PB[13]" IOSTANDARD = LVCMOS33;
#NET "PB[12]" IOSTANDARD = LVCMOS33;
#NET "PB[11]" IOSTANDARD = LVCMOS33;
#NET "PB[10]" IOSTANDARD = LVCMOS33;
#NET "PB[9]" IOSTANDARD = LVCMOS33;
#NET "PB[8]" IOSTANDARD = LVCMOS33;
#NET "PB[7]" IOSTANDARD = LVCMOS33;
#NET "PB[6]" IOSTANDARD = LVCMOS33;
#NET "PB[5]" IOSTANDARD = LVCMOS33;
#NET "PB[4]" IOSTANDARD = LVCMOS33;
#NET "PB[3]" IOSTANDARD = LVCMOS33;
#NET "PB[2]" IOSTANDARD = LVCMOS33;
#NET "PB[1]" IOSTANDARD = LVCMOS33;
#NET "PB[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 

#NET "PB[23]" PULLUP;
#NET "PB[22]" PULLUP;
#NET "PB[21]" PULLUP;
#NET "PB[20]" PULLUP;
#NET "PB[19]" PULLUP;
#NET "PB[18]" PULLUP;
#NET "PB[17]" PULLUP;
#NET "PB[16]" PULLUP;
#NET "PB[15]" PULLUP;
#NET "PB[14]" PULLUP;
#NET "PB[13]" PULLUP;
#NET "PB[12]" PULLUP;
#NET "PB[11]" PULLUP;
#NET "PB[10]" PULLUP;
#NET "PB[9]" PULLUP;
#NET "PB[8]" PULLUP;
#NET "PB[7]" PULLUP;
#NET "PB[6]" PULLUP;
#NET "PB[5]" PULLUP;
#NET "PB[4]" PULLUP;
#NET "PB[3]" PULLUP;
#NET "PB[2]" PULLUP;
#NET "PB[1]" PULLUP;
#NET "PB[0]" PULLUP;
