NET "axi_gpio_0_GPIO_IO_pin[0]" LOC = P127 | IOSTANDARD = LVCMOS33 | PULLUP;    #CS
NET "axi_gpio_0_GPIO_IO_pin[1]" LOC = P120 | IOSTANDARD = LVCMOS33 | PULLUP;    #CD

NET "axi_spi_0_SPI_MOSI_pin" LOC = P126 | IOSTANDARD = LVCMOS33 | PULLUP;    #DI
NET "axi_spi_0_SPI_MISO_pin" LOC = P123 | IOSTANDARD = LVCMOS33 | PULLUP;    #DO
NET "axi_spi_0_SPI_SCK_pin" LOC = P124 | IOSTANDARD = LVCMOS33 | PULLDOWN;  #SCLK