# UCF file for the Posedge LogiX1 megawing board - Rev 1.2

# megawing pin [] to FPGA pin Pxx map
# -------W2--------    -----W1.A-------     ------W1.B------
# [GND] [W3_8] P111    [GND] [ VS ] P85     P87 [ HS ]
# [2V5] [W3_7] P112    [2V5] [ B0 ] P83     P84 [ B1 ]
# [3V3] [W3_6] P114    [3V3] [ G0 ] P81     P82 [ G1 ]
# [5V0] [W3_5] P115    [5V0] [ R0 ] P79     P80 [ R1 ]
#       [W3_4] P116          [PB1 ] P75     P78 [PB0 ] [5V0]
#       [W3_3] P117          [PB2 ] P67     P74 [PB3 ] [3V3]
#       [W3_2] P118          [DIP7] P59     P66 [DIP6] [2V5]
#       [W3_1] P119          [DIP4] P57     P58 [DIP5] [GND]
# [GND] [LED7] P120    [GND] [DIP2] P55     P56 [DIP3]
# [2V5] [LED6] P121    [2V5] [DIP1] P48     P51 [DIP0]
# [3V3] [LED5] P123    [3V3] [an0 ] P46     P47 [seg0]
# [5V0] [LED4] P124    [5V0] [seg5] P44     P45 [an1 ]
#       [LED3] P126          [an2 ] P41     P43 [seg1] [5V0]
#       [LED2] P127          [seg4] P35     P40 [seg3] [3V3]
#       [LED1] P131          [seg7] P33     P34 [seg2] [2V5]
#       [LED0] P132          [seg6] P30     P32 [an3 ] [GND]

# Clock and Reset pins
NET "clk_i"		     LOC = P50;   # 24MHz on-board clock
NET "rst_n_i"       LOC = p133;  # active-low USER_PB button

# dip-switches
NET "dip_switch[0]" LOC = P51;
NET "dip_switch[1]" LOC = P48;
NET "dip_switch[2]" LOC = P55;
NET "dip_switch[3]" LOC = P56;
NET "dip_switch[4]" LOC = P57;
NET "dip_switch[5]" LOC = P58;
NET "dip_switch[6]" LOC = P66;
NET "dip_switch[7]" LOC = P59;

# Push-Buttons
NET "push_button[0]" LOC = P78;
NET "push_button[1]" LOC = P75;
NET "push_button[2]" LOC = P67;
NET "push_button[3]" LOC = P74;

# 7segment
NET "an[0]" LOC = P46;
NET "an[1]" LOC = P45;
NET "an[2]" LOC = P41;
NET "an[3]" LOC = P32;
NET "sseg[0]" LOC = P47;
NET "sseg[1]" LOC = P43;
NET "sseg[2]" LOC = P34;
NET "sseg[3]" LOC = P40;
NET "sseg[4]" LOC = P35;
NET "sseg[5]" LOC = P44;
NET "sseg[6]" LOC = P30;
NET "sseg[7]" LOC = P33;

# VGA
NET "hsync"   LOC = P87;
NET "vsync"   LOC = P85;  
NET "rgb[0]"  LOC = P83;
NET "rgb[1]"  LOC = P84;
NET "rgb[2]"  LOC = P81;
NET "rgb[3]"  LOC = P82; 
NET "rgb[4]"  LOC = P79;
NET "rgb[5]"  LOC = P80;  

# LEDs

# MegaWing LogiX-1 Rev 1.2 specific Constraints
NET "leds[7]"  LOC = P120;
NET "leds[6]"  LOC = P121;
NET "leds[5]"  LOC = P123;
NET "leds[4]"  LOC = P124;
NET "leds[3]"  LOC = P126;
NET "leds[2]"  LOC = P127;
NET "leds[1]"  LOC = P131;
NET "leds[0]"  LOC = P132;


# MegaWing LogiX-1 Rev 1.1 specific Constraints
#NET "leds[7]" LOC = P111;
#NET "leds[6]" LOC = P112;
#NET "leds[5]" LOC = P114;
#NET "leds[4]" LOC = P115;
#NET "leds[3]" LOC = P116;
#NET "leds[2]" LOC = P117;
#NET "leds[1]" LOC = P118;
#NET "leds[0]" LOC = P119;


